*{
  font-family: Verdana;
  background-color: black;
  text-align: center;
}

body{
  color: white;
}
p {
  color: gray;
  font-size: 21px;
}

.hyperlink {
  color: Aquamarine;
  font-size: 16px;
}

.title1 {
  font-size: 50px;
  font-weight: normal;
}

.title2 {
  font-weight: 300;
  font-size: 42px;
}

.copyright {
  text-align: right;
}
